<!-- <app-autocomplete></app-autocomplete> -->
<!-- <app-butons></app-butons> -->

<div class="btn btn-primary" routerLink="buttons">Go to buton</div>
<div class="btn btn-primary" routerLink="autocomplete"> form :
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard"></mat-icon>
</div>
<div class="btn btn-primary" routerLink="botonsheet"> Sheet :
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard"></mat-icon>
</div><div class="btn btn-primary" routerLink="tooglebutton"> tooglebutton :
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="button"></mat-icon>
</div>
<!-- </div> -->
<div class="btn btn-primary" routerLink="card"> Card :
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card"></mat-icon>
</div>
<div class="btn btn-primary" routerLink="chips"> Chips :
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chips"></mat-icon>
</div>


<router-outlet></router-outlet>
